@import "tailwindcss";

@theme {
  --color-neon-pink: #ff10f0;
  --color-neon-blue: #10f0ff;
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
